<div class="list-group-item">
    <div class="media">

        <div class="row">
            <div class="col-xs-12 text-left" >
                Titre: {{ information.titre }} - Auteur: {{ information.user.nom }}
            </div>
        </div>

        <div class="row">
            <div class="media-body">
                <div class="col-md-12">

                    <div class="col-md-12 text-danger text-left">
                        <ul class="list-inline list-unstyled">
                            <li><span> Publié le : {{ information.dateCreation | date('j/m/Y - H:i') }} </span></li>
                            <li>|</li>
                            <li>
                                {% if(information.utile) %}
                                    {{ information.utile }} aimes
                                {% endif %}

                            </li>

                        </ul>
                    </div>
                    <div class=" text-justify">
                        {{ information.contenu }}
                    </div>
                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12 text-right">
                <ul class="list-inline list-unstyled ">
                    <li >
                        <a href="" class="deleteColisBtn">J'aime</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

